html {
    background: aliceblue;
}
.resource {
    display: grid;
    grid-template-areas:
        "resource-title resource-title buttons-box"
        "resource-info resource-info buttons-box"
        "tags tags buttons-box";
    grid-template-rows: 0.75fr 3fr 1fr;
    grid-template-columns: 2fr 1fr;
    padding: 1vw;
    margin: 1vw;
}
.buttons-box {
    grid-area: buttons-box;
    display: flex;
    flex-direction: column;
    max-width: 12vw;
    justify-content: space-evenly;
    align-items: baseline;
}
.likes {
    padding: 0.5vw;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.dislikes {
    padding: 0.5vw;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.resources {
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.tags {
    grid-area: tags;
    margin-top: 1vw;
}
.resource-info {
    grid-area: resource-info;
    margin-top: 1vw;
}
.resource-title {
    grid-area: resource-title;
}
.r-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 1vw;
}
.expand {
    padding: 1vw;
    margin: 1vw;
}
.searchBar {
    padding: 0.5vw;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-radius: 8px;
    border: 0.1vw solid rgb(250, 137, 156);
    justify-self: start;
}
.searchables {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    background: aliceblue;
}
.searchTabs {
    justify-self: center;
}
.login {
    padding: 0.5vw;
    padding-left: 1vw;
    margin-top: 0.25vw;
    background: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 20vw;
}
.add-button {
    padding: 0.5vw;
    padding-left: 1vw;
    padding-top: 0.25vw;
    background: aliceblue;
}
.resource-card {
    border: 0.35vw solid teal;
}
.description {
    margin-top: 1vw;
    padding: 0.1vw;
}
.no-results {
    text-align: center;
    margin-right: 22vw;
    margin-top: 1vw;
}
.nav-button {
    background: aliceblue;
    padding-left: 1vw;
    padding-top: 0.25vw;
}
.login-surround {
    background: aliceblue;
}
